@import "tailwindcss";

<<<<<<< HEAD

=======
>>>>>>> 9520038087bdf8bd59e0db750d4d32857fe2449e
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
<<<<<<< HEAD
=======
    --background: #0a0a0a;
>>>>>>> 9520038087bdf8bd59e0db750d4d32857fe2449e
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD

=======
>>>>>>> 9520038087bdf8bd59e0db750d4d32857fe2449e
