PORT=4000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=Qbic@2026
DB_NAME=QUALITY CONTROL
DB_PORT=5432
DB_SSL=false
DB_TARGET=supabase
DATABASE_URL_LOCAL=postgresql://postgres:Qbic%402026@localhost:5432/QUALITY%20CONTROL
DATABASE_URL_SUPABASE=postgresql://postgres.aohogvqoowfmyyturpzo:eUEomTJGAyhGqDsX@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173,http://192.168.1.10:3000,http://192.168.1.15:3000,https://spintelligence.web.app,https://spintelligence.firebaseapp.com,*.web.app
OTP_SECRET=T5gCED4JoD295g5TQlc9ondkYnRZcr+Y3PSeuCO/g//f42YT/9euKikDHDVRrbN4
ADMIN_USERNAME=admin
ADMIN_PASSWORD=OSmua56JDzqUfQ9J9dVqRuMvf31MQMwi
ADMIN_JWT_SECRET=replace-with-random-jwt-secret
SERVER_URL=http://192.168.1.10:4000
EMAIL_USER=otpdemoin@gmail.com
EMAIL_PASS=xelu nxdd wyom plnl
OTP_SECRET=T5gCED4JoD295g5TQlc9ondkYnRZcr+Y3PSeuCO/g//f42YT/9euKikDHDVRrbN4
ADMIN_USERNAME=admin
ADMIN_PASSWORD=OSmua56JDzqUfQ9J9dVqRuMvf31MQMwi
SERVER_URL=http://192.168.1.10:4000
DATABASE_URL=postgresql://postgres.aohogvqoowfmyyturpzo:Spintelligencedsm%402026@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
HOSTINGER_API_KEY=OqzwZMTCGgGCs2bHsBQYh6YvgQlJ02eEMthhw2aZ61b408f0
HOSTINGER_VM_ID=To be filled
OCR_PYTHON_PATH=C:\Users\Sneha\AppData\Local\Programs\Python\Python311\python.exe


\